body {
    background-color: firebrick;
    font-family: 'Do Hyeon', sans-serif;
    font-size: 18px;
}

#availableBurgers {
    background-color: indianred;
}

#devouredBurgers {
    background-color: indianred;
}

